<a href="https://colab.research.google.com/github/LuchoValr/The-effect/blob/main/Cap13_theeffect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Haciendo la primera regresion

In [2]:
!pip install Stargazer
!pip install causaldata
import pandas as pd
import statsmodels.formula.api as sm
from stargazer.stargazer import Stargazer
from causaldata import restaurant_inspections

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Stargazer
  Downloading stargazer-0.0.5-py3-none-any.whl (9.7 kB)
Installing collected packages: Stargazer
Successfully installed Stargazer-0.0.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting causaldata
  Downloading causaldata-0.1.3.tar.gz (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 72.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from causaldata) (0.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from causaldata) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->causaldata) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->causaldata) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->causaldata) (1.22.4)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels->causaldata) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels->causaldata) (23.1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels->causaldata) (1.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels->causaldata) (1.16.0)
Building wheels for collected packages: causaldata
  Building wheel for causaldata (setup.py) ... done
  Created wheel for causaldata: filename=causaldata-0.1.3-py3-none-any.whl size=2645603 sha256=54f430801771fe7d1a2749b45cc335a1c57085d6aca59f01a0a3137171b4528b
  Stored in directory: /root/.cache/pip/wheels/4a/8f/9f/13d3a7ab29b8a8c68f3e5dcc0fe00d0e8eef62fc508a20c7c6
Successfully built causaldata
Installing collected packages: causaldata
Successfully installed causaldata-0.1.3

In [12]:
res = restaurant_inspections.load_pandas().data
res.head()

,business_name,inspection_score,Year,NumberofLocations,Weekend
0,MCGINLEYS PUB,94,2017,9,False
1,VILLAGE INN #1,86,2015,66,False
2,RONNIE SUSHI 2,80,2016,79,False
3,FRED MEYER - RETAIL FISH,96,2003,86,False
4,PHO GRILL,83,2017,53,False

In [13]:
# Perform the first , one-predictor regression
# use the sm.ols() function , with ~ telling us what
# the dependent variable varies over
m1 = sm.ols(formula = 'inspection_score ~ NumberofLocations ', data = res).fit()

In [14]:
# Now add year as a control
# Just use + to add more terms to the regression
m2 = sm.ols(formula = 'inspection_score ~ NumberofLocations + Year', data = res).fit()

In [15]:
f = open('regression_table.html', 'w')
f

In [16]:
regtable = Stargazer ([m1, m2])
f.write(regtable.render_html ())
f.close()

In [18]:
regtable

#Regresion con polinomios

In [20]:
df = restaurant_inspections.load_pandas().data

In [22]:
# Use I() to insert calculations of your variables
# and ** to square
m1 = sm.ols(formula = '''inspection_score ~ NumberofLocations + I(NumberofLocations**2) + Year''', data = df).fit()

In [23]:
# m1.summary() would do here, but if we wanted
# to write to file we could extend Stargazer...
Stargazer ([m1])

In [24]:
# Use t_test to test linear combinations of coefficients
# be sure to test them against 0 to get the appropriate result
# coef is the estimate here, std err the SE.
# We know this is the right equation to use because we know
# the derivative - we need to figure that out first
m1.t_test('NumberofLocations + 2*I(NumberofLocations ** 2)*100 = 0')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0            -0.0597      0.001    -84.505      0.000      -0.061      -0.058
==============================================================================

#Regresion con termino de iteracion

In [25]:
df = restaurant_inspections.load_pandas().data

In [26]:
# Use * to include two variables independently
# plus their interaction
# (: is interaction -only, we rarely use it)
m1 = sm.ols(formula = '''inspection_score ~ NumberofLocations*Weekend + Year''', data = df).fit()

In [27]:
# m1.summary() would do here, but if we wanted
# to write to file we could extend Stargazer...
Stargazer ([m1])

In [28]:
# Use t_test to test linear combinations of coefficients
# be sure to test them against 0 to get the appropriate result
# coef is the estimate here, std err the SE.
# We got the proper coefficient names from reading the reg table
m1.t_test('NumberofLocations + NumberofLocations:Weekend[T.True] = 0')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0            -0.0289      0.008     -3.851      0.000      -0.044      -0.014
==============================================================================

#Logit y Probit

In [40]:
df = restaurant_inspections.load_pandas (). data

In [41]:
df

,business_name,inspection_score,Year,NumberofLocations,Weekend
0,MCGINLEYS PUB,94,2017,9,False
1,VILLAGE INN #1,86,2015,66,False
2,RONNIE SUSHI 2,80,2016,79,False
3,FRED MEYER - RETAIL FISH,96,2003,86,False
4,PHO GRILL,83,2017,53,False
...,...,...,...,...,...
27173,TWIN DRAGON,90,2018,127,False
27174,TWIN DRAGON,90,2018,127,False
27175,TWIN DRAGON,90,2018,127,False
27176,TWIN DRAGON,90,2018,127,False
27177,TWIN DRAGON,90,2018,127,False

In [42]:
# sm.logit wants the dependent variable to be numeric
df['Weekend'] = 1*df['Weekend']

In [43]:
df

,business_name,inspection_score,Year,NumberofLocations,Weekend
0,MCGINLEYS PUB,94,2017,9,0
1,VILLAGE INN #1,86,2015,66,0
2,RONNIE SUSHI 2,80,2016,79,0
3,FRED MEYER - RETAIL FISH,96,2003,86,0
4,PHO GRILL,83,2017,53,0
...,...,...,...,...,...
27173,TWIN DRAGON,90,2018,127,0
27174,TWIN DRAGON,90,2018,127,0
27175,TWIN DRAGON,90,2018,127,0
27176,TWIN DRAGON,90,2018,127,0
27177,TWIN DRAGON,90,2018,127,0

In [44]:
# Use sm.logit to run logit, si se quiere aplicar probit solo cambiamos la palabra logit por probit en el codigo
m1 = sm.logit(formula = "Weekend ~ Year", data = df).fit()

Optimization terminated successfully.
         Current function value: 0.045192
         Iterations 10

In [45]:
# See the result
# m1.summary() would also work
Stargazer ([m1])

In [46]:
# And get marginal effects
m1.get_margeff (). summary ()

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:                Weekend
Method:                          dydx
At:                           overall
==============================================================================
                dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Year          -0.0002   9.05e-05     -2.068      0.039      -0.000   -9.79e-06
==============================================================================
"""

#Ajuste de error estandar

In [49]:
#Estimamos robust standar errors, usado cuando hay heterocedasticidad
df = restaurant_inspections.load_pandas (). data
# We can simply add cov_type = 'HC3'
# to our fit!
m1 = sm.ols(formula = 'inspection_score ~ Year + Weekend', data = df).fit(cov_type = 'HC3')

m1.summary ()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       inspection_score   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     46.72
Date:                Tue, 06 Jun 2023   Prob (F-statistic):           5.54e-21
Time:                        01:19:13   Log-Likelihood:                -88362.
No. Observations:               27178   AIC:                         1.767e+05
Df Residuals:                   27175   BIC:                         1.768e+05
Df Model:                           2
Covariance Type:                  HC3
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         185.3800     12.150     15.258      0.000     161.567     209.193
Weekend[T.True]     2.0572      0.353      5.829      0.000       1.365       2.749
Year               -0.0456      0.006     -7.552      0.000      -0.057      -0.034
==============================================================================
Omnibus:                     3522.402   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5062.647
Skew:                          -1.002   Prob(JB):                         0.00
Kurtosis:                       3.673   Cond. No.                     6.79e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
[2] The condition number is large, 6.79e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [54]:
#Estimamos Newey-West, en existencia de autocorrelacion de los errores. Por ello estimamos el año que es una serie de tiempo
df = restaurant_inspections.load_pandas (). data

In [62]:
df = restaurant_inspections.load_pandas (). data

# Get our data into a single time series!
df = df.groupby('Year').agg([('mean')])
# Only use the years without a gap
df = df.query('Year <= 2009')

# We can simply add cov_type = 'HAC' to our fit, with maxlags specified
m1 = sm.ols(formula = 'inspection_score ~ Weekend',data = df).fit(cov_type = 'HAC',cov_kwds ={'maxlags':1})

m1.summary ()
# Note that Python uses a "classic" form of HAC that does not apply
# "pre-whiting", so results are often different from other languages

<ipython-input-62-ba9e1b7eb291>:4: FutureWarning: ['business_name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df = df.groupby('Year').agg([('mean')])
/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       inspection_score   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                 -0.051
Method:                 Least Squares   F-statistic:                     3.081
Date:                Tue, 06 Jun 2023   Prob (F-statistic):              0.117
Time:                        01:34:37   Log-Likelihood:                -20.065
No. Observations:                  10   AIC:                             44.13
Df Residuals:                       8   BIC:                             44.74
Df Model:                           1
Covariance Type:                  HAC
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     93.7736      0.953     98.416      0.000      91.906      95.641
Weekend       42.7314     24.346      1.755      0.079      -4.985      90.448
==============================================================================
Omnibus:                        2.274   Durbin-Watson:                   0.500
Prob(Omnibus):                  0.321   Jarque-Bera (JB):                1.042
Skew:                           0.392   Prob(JB):                        0.594
Kurtosis:                       1.626   Cond. No.                         89.4
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity and autocorrelation robust (HAC) using 1 lags and without small sample correction
"""

In [63]:
#Estimamos clustered standard errors, usado cuando hay correlacion entre errores dentro de grupos
df = restaurant_inspections.load_pandas (). data

# We can simply add cov_type = 'cluster' to our fit, and specify the groups
m1 = sm.ols(formula = 'inspection_score ~ Year', data = df).fit(cov_type = 'cluster', cov_kwds ={'groups': df['Weekend']})

In [64]:
m1.summary ()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       inspection_score   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2810.
Date:                Tue, 06 Jun 2023   Prob (F-statistic):             0.0120
Time:                        01:35:40   Log-Likelihood:                -88373.
No. Observations:               27178   AIC:                         1.768e+05
Df Residuals:                   27176   BIC:                         1.768e+05
Df Model:                           1
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    186.1690      1.714    108.619      0.000     182.810     189.528
Year          -0.0460      0.001    -53.008      0.000      -0.048      -0.044
==============================================================================
Omnibus:                     3528.301   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5073.965
Skew:                          -1.003   Prob(JB):                         0.00
Kurtosis:                       3.674   Cond. No.                     6.79e+05
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 6.79e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [65]:
#Estimamos bootsstrap
df = restaurant_inspections.load_pandas (). data

In [66]:
import numpy as np

In [67]:
# There are bootstrap estimators in Python but generally not designed for OLS
# So we'll make our own. Also see the Simulation chapter.
def our_reg(DF):
  # Resample with replacement
  resampler = np.random.randint(0,len(df),len(df))
  DF = DF.iloc[resampler]

  # Run our estimate
  m = sm.ols(formula = 'inspection_score ~ Year',data = DF).fit()
  # Get all coefficients
  return(dict(m.params))

  # Run the function 2000 times and store results
  results = [our_reg(df) for i in range(0 ,2000)]

  # Turn results into a data frame
  results = pd.DataFrame(results)

  # Mean and standard deviation are estimate and SE
  results.describe ()
our_reg(df)

{'Intercept': 199.52410812159047, 'Year': -0.05267150096562451}

#Sample weight

In [79]:
df = restaurant_inspections.load_pandas (). data

In [80]:
df['Num_Inspections'] = 1

In [86]:
# Aggregate the data
df = df.groupby('business_name').agg({'inspection_score': 'mean','Year': 'min','Num_Inspections': 'sum'})
df.head()

                             inspection_score  Year  Num_Inspections
business_name
10TH & M SEAFOODS                   96.000000  2009                6
12-100 COFFEE & COMMUNITIES         96.555556  2015                9
3 LITTLE PIGS - S                   99.666667  2005                6
3M3R LLC DBA YAMA SUSHI             95.000000  2019                5
49TH STATE BREWERY                  90.666667  2016                9

In [83]:
# Here we call a special WLS function
m1 = sm.wls(formula = 'inspection_score ~ Year',weights = df['Num_Inspections'],data = df).fit()

In [84]:
m1.summary ()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            WLS Regression Results
==============================================================================
Dep. Variable:       inspection_score   R-squared:                       0.003
Model:                            WLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     5.098
Date:                Tue, 06 Jun 2023   Prob (F-statistic):             0.0241
Time:                        02:13:59   Log-Likelihood:                -5190.4
No. Observations:                1618   AIC:                         1.038e+04
Df Residuals:                    1616   BIC:                         1.040e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    178.1965     37.448      4.758      0.000     104.744     251.649
Year          -0.0422      0.019     -2.258      0.024      -0.079      -0.006
==============================================================================
Omnibus:                      850.037   Durbin-Watson:                   1.682
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7498.460
Skew:                          -2.301   Prob(JB):                         0.00
Kurtosis:                      12.489   Cond. No.                     6.59e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.59e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#LASSO

In [101]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LassoCV
from sklearn.preprocessing import MinMaxScaler

In [134]:
df = restaurant_inspections.load_pandas (). data

In [138]:
# Create a matrix with predictors , interactions , and squares
X = df[['NumberofLocations','Year','Weekend']]
X_all = PolynomialFeatures (2, interaction_only = False ,include_bias = False). fit_transform(X)
mm = MinMaxScaler()
X_all = mm.fit_transform(X_all)

In [142]:
df2 = df.copy()
df2 = df2['inspection_score']
df2 = df2.array.reshape(-1, 1)
df2 = mm.fit_transform(df2)

In [143]:
# Use LassoCV to pick a lambda with 20 chunks. normalize = True
# standardizes the variables. This particular model has trouble
# converging so let's give it more iterations to try with max_iter
reg = LassoCV(cv = 20, max_iter = 10000).fit(X_all ,df2)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:1568: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [144]:
reg.coef_
# Looks like Weekend , squared Year, Year * NumberofLocations ,
# and Year * Weekend all get dropped. So we can redo OLS without them

array([-1.58941247, -0.07319503,  0.        ,  1.50359956, -0.        ,
       -0.        , -0.        ,  0.00396108,  0.        ])

In [145]:
m1 = sm.ols(formula = '''inspection_score ~ NumberofLocations + I(NumberofLocations**2) + NumberofLocations:Weekend + Year''', data = df).fit()
m1.summary ()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       inspection_score   R-squared:                       0.210
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     1802.
Date:                Tue, 06 Jun 2023   Prob (F-statistic):               0.00
Time:                        03:25:22   Log-Likelihood:                -85202.
No. Observations:               27178   AIC:                         1.704e+05
Df Residuals:                   27173   BIC:                         1.705e+05
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                           363.0924     11.608     31.280      0.000     340.340     385.844
NumberofLocations                    -0.0844      0.001    -82.889      0.000      -0.086      -0.082
NumberofLocations:Weekend[T.True]    -0.0039      0.006     -0.648      0.517      -0.016       0.008
I(NumberofLocations ** 2)             0.0001   1.77e-06     69.683      0.000       0.000       0.000
Year                                 -0.1320      0.006    -22.879      0.000      -0.143      -0.121
==============================================================================
Omnibus:                     2526.881   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3412.965
Skew:                          -0.775   Prob(JB):                         0.00
Kurtosis:                       3.783   Cond. No.                     1.71e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""